

.verical-center{
    display: inline;
    position: absolute;
      
    top: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }
  #carDescription{
      font-weight: 500;
      font-weight: bold;
      
      text-align: left;
      left: 5%;
      
      
      
  }
  #ident{
      right: 5%;
      top: 23%;
      display: inline;
      font-size: small;
         
   }
  .carImg{
      width: 90%;
      margin: 5% 5%;
      border-radius: 20px;
    }
    
  #krankheiten{
      margin: 0 5%;
  }
  