.verical-center{
    display: inline;
    position: absolute;
      
    top: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }
  #carDescription{
      font-weight: 500;
      font-weight: bold;
      
      text-align: left;
      left: 5%;
    
  }
  #ident{
      right: 10%;
      top: 23%;
      display: inline;
      font-size: small;
         
   }

.favIcon{
    top:50%;
    right:3%;
    color: orange;
    font-size: 1.3rem;
}

  .carImg{
      width: 80%;
      margin: 2% 5%;
      border-radius: 5px;
    }
.labelSchrift{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 5% 5% ;
}
.info{
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 30%;
    color: black;
}
.krankheiten{
    --ion-item-background: #72a372 ;
    margin: 0 5% 3px;
    color: #fff;
    font-size: 1.2rem;
    font-weight:400 ;
}
  .maengel{
     width: 87%;
      margin: 1px 0 2px 8%;
      background-color: #fff;
  }
  