.verical-center{
    display: inline;
    position: absolute;
      
    top: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }
  #carDescription{
      font-weight: 500;
      font-weight: bold;
      
      text-align: left;
      left: 5%;
    
  }
  #ident{
      right: 10%;
      top: 23%;
      display: inline;
      font-size: small;
         
   }

.favIcon{
    top:50%;
    right:3%;
    color: orange;
    font-size: 1.3rem;
}

  .carImg{
      width: 80%;
      margin: 2% 5%;
      border-radius: 5px;
    }
    
  #krankheiten{
      margin: 2% 5%;
  }
  