.text{
    margin-left: 2%;
    width: 90%;   
}

ion-grid{
    margin: 5% 5% 5% 5%;
}

  ion-col{
      height: 150px;
     
      margin: 2px;
  }
  .but{
      height: 130px;
  }

  #search-Button{
    --ion-background: #007c34;
    width: 86%;
    height: 40px;
    margin: 0 7% 10%;
  }


#vehicles{
    margin: 5% 0 0 10%;
    width: 80%;
   
  
    
}
.vehicles{
    width: 23%;
    border: solid 1px lightgray;     
    text-align: center;
 
}

  
