<ion-header>
  <app-headerinfo>

  </app-headerinfo>
</ion-header>

<ion-content>
  <!-- 
  <div id="vehicles">
    <ion-button color="clear" class="vehicles">
      <img class="pic" src="./assets/brands/car.png" alt="car">     
    </ion-button>
    <ion-button color="clear" class="vehicles">
      <img class="pic" src="./assets/brands/motorbike.png" alt="motorbike">
    </ion-button>
    <ion-button color="clear" class="vehicles">
      <img class="pic" src="./assets/brands/truck.png" alt="truck">
    </ion-button>
    <ion-button color="clear" class="vehicles">
      <img class="pic" src="./assets/brands/wohnwagen.png" alt="wohnwagen">
    </ion-button>
    
  </div>
  -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="but" color="clear" [routerLink]="['/home', 0]" >  
          <img src="./assets/brands/Audi_logo.svg" alt="Audi-Logo">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="but" color="clear" [routerLink]="['/home', 1]"  >
          <img src="./assets/brands/Bmw_logo.svg" alt="BMW-Logo">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="but"  color="clear" [routerLink]="['/home', 2]" >
          <img src="./assets/brands/Mercedes_logo.png" alt="Mercedes-Logo">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="but" color="clear"  [routerLink]="['/home', 3]" >  
          <img src="./assets/brands/Volkswagen_logo.svg" alt="VW-Logo">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="but" color="clear" [routerLink]="['/home', 4]" >
          <img src="./assets/brands/Ford.png" alt="Ford-Logo">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button [routerLink]="['/home', -1]"  expand="block" color="success" id="search-Button"><ion-icon name="search-outline"></ion-icon> Suche</ion-button>
 
    <app-header></app-header>

</ion-content>

<app-footer></app-footer>
