
ion-row, ion-col, ion-grid{
    padding: 0;
    margin: 0;
}


ion-item{
    --background: #598059;  
    color:#fff;  
    padding: 0px;
    margin: 0px;
    
}


#removeItem{
    color: #fff;
}

.child-item, .child-item-infos{

    padding: 0px;
    margin: 0px;
 
}
.item-native{
    padding: 0;
}
