.slides-container{
    width: 80%;
    height: 50px;
    margin-left: 10%;
    
}

#info{
    position: absolute;
    right: 5%;
   top:20%;
    font-size: 2rem;
}

.carImg{
   
    width: 100%;
    margin: 1% 1%;
    border-radius: 5px;

  }