.child-item{
    --ion-item-background:#9f9f9f;
    --ion-item-color: #fff;
    --padding-start: 2px;
    --inner-padding-end: 2px;
    margin-top: 2px;
   
    
}
b{
    font-size: 14px;
}

.child-item-infos{
  
    text-align: center;
    font-size: 12px;
    margin: 0px;
    padding-top: 10px;
   
}

ion-row, ion-col, ion-grid{
   
    padding: 0;
    margin: 0;
}

ion-col{
    height: 50px;
}


