.child-item{
    --ion-item-background:#c0c0c0;
    --padding-start: 2px;
    --inner-padding-end: 2px;
    margin-top: 2px;
   
    
}

.child-item-infos{
  
    text-align: center;
    font-size: 12px;
    
    
    
}
