<ion-header>
    <app-header></app-header>
  </ion-header>

<ion-content>
<ion-label> FAVORITENLISTE  
  <ion-icon id="removeAllFavs" name="trash-outline" (click)="deleteAllItems()" ></ion-icon>
</ion-label>
<ion-list *ngFor="let newFavCar of thisproduct" lines="none">
  <ion-grid>
    <ion-row  align-items-center >     
      <ion-col size="4">
        <ion-item class="child-item-infos"> {{ newFavCar.marke  }} {{ newFavCar.modell | uppercase }}</ion-item >
      </ion-col>
      <ion-col size="4">
        <ion-item sclass="child-item-infos"> {{ newFavCar.baujahr  }}</ion-item >
      </ion-col> 
      <ion-col>
        <ion-item class="child-item-infos">
           <ion-icon size="1" slot="end" id="removeItem" name="close-circle-outline" (click)="deleteItem(newFavCar)"></ion-icon>
        </ion-item>
        </ion-col>
         
    </ion-row>
  </ion-grid>  
</ion-list>


</ion-content>

<app-footer></app-footer>
