<ion-header>
    <app-header></app-header>
  </ion-header>

<ion-content>
<div>5</div>
<ion-label id="lab"> FAVORITENLISTE  </ion-label>
  <ion-icon id="removeAllFavs"  name="trash-outline" (click)="deleteAllItems()" ></ion-icon>

<ion-list class="child-item-infos" *ngFor="let favproduct of thisproduct" lines="none">


  <app-favproduct [product]="favproduct"></app-favproduct>

  <!--  
  <ion-grid>
    <ion-row  align-items-center >     
      <ion-col size="5">
        <ion-item class="child-item-infos"> {{ product.marke  }} {{ product.modell | uppercase }}</ion-item >
      </ion-col>
      <ion-col size="4">
        <ion-item class="child-item-infos"> {{ product.baujahr  }} </ion-item >
      </ion-col> 
      <ion-col>
        <ion-item class="child-item-infos">
           <ion-icon size="1" slot="end" id="removeItem" name="close-circle-outline" (click)="deleteItem(newFavCar)"></ion-icon>
        </ion-item>
        </ion-col>
         
    </ion-row>

    
   
  </ion-grid>  
  -->
</ion-list>




</ion-content>

<app-footer></app-footer>
