#searchbar{
  margin-top: 5px;
}

ion-header, app-footer{
  --ion-item-background: #6c6c6c;
}

.accordion-list{
  padding: 0px;
  margin: 0 5% 1px 5%;
  
  --ion-item-background:var(--ion-color-light);

  .section, .section-active{
    --height: 15px;
     
  }
}

.section{
  --ion-item-background: #6c6c6c; //Marke
  --ion-item-color: #fff;
 
}
.section-active{
  --ion-item-background: #585858; //Marke-Aktiv
  --ion-item-color: #fff;
  font-weight: 600;
  margin-bottom: 2px;

  ion-icon{    
    color: #fff;
  }
}

.child-list{
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  .child, .child-active{
    margin-bottom: 1px;
  }
}

.child{
  --ion-item-background: #8c8c8c; //Modell
  --ion-item-color: #fff;
}

.child-active{
  --ion-item-background: #585858; //Modell Aktiv
  --ion-item-color: #fff;
  font-weight: 600;

  ion-icon{
    color: #fff;
  }
}

.product-list{
  padding: 0px ;
  margin-bottom: 3px;

}

.platz{
  height: 20px;
}