ion-searchbar, ion-toolbar{
  margin: 0;
  padding: 0;
  //--background: lightgray;
}
#searchbar{
  margin: 5px 5% 5px 5%;
  width: 90%;
}

ion-content{
  //--background: lightgray;
 
}

.accordion-list{
  padding: 0px;
  margin: 0 5% 1px 5%;
 // --ion-item-background: lightgray;
  
  
  .section, .section-active{
    --height: 15px;
     
  }
}

.section{
  --ion-item-background: #598059; //Marke
  --ion-item-color: #fff;
 
}
.section-active{
  --ion-item-background: #008f00; //Marke-Aktiv
  --ion-item-color: #fff;
  font-weight: 600;
  margin-bottom: 2px;

  ion-icon{    
    color: #fff;
  }
}

.child-list{
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  .child, .child-active{
    margin-bottom: 1px;
  }
}

.child{
  --ion-item-background: #72a372; //Modell
  --ion-item-color: #fff;
}

.child-active{
  --ion-item-background: #008f00; //Modell Aktiv
  --ion-item-color: #fff;
  font-weight: 600;

  ion-icon{
    color: #fff;
  }
}

.product-list{
  padding: 0px ;
  margin-bottom: 3px;

}

.platz{
  height: 20px;
}