


#searchbar{
  margin-top: 2%;
}



ion-content{
  --background: #fff;//var(--ion-color-light);
}

.accordion-list{
  margin-bottom: 2px;
  --ion-item-background:#fff;

  .section, .section-active{
    --min-height: 20px;
    
  }
}

.section{
  --ion-item-background: #e6e6e6;
  --ion-item-color: #000;
 
}
.section-active{
  --ion-item-background: #8b8b8b;
  --ion-item-color: #fff;
  font-weight: 600;
  margin-bottom: 2px;

  ion-icon{    
    color: #fff;
  }
}

.child-list{
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  .child, .child-active{
    margin-bottom: 1px;
    font-weight: 500;
    
  }
}

.child{
  --ion-item-background: #acacac;
  --ion-item-color: #fff;
}

.child-active{
  --ion-item-background: #a1a1a1;
  --ion-item-color: #fff;

  ion-icon{
    color: #fff;
  }
}

.product-list{
  padding: 0px 0px 0px 0px;
  margin-bottom: 3px;
  
  

  
}